{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Banking System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_style.css' %} ">
  </head>
  <body>
    <header>
      <img class="logo" src="{% static 'img/logo.jpg' %}" alt="logo">
      <nav class="nav__links">
       <ul>
         <li><a href="#">Home</a></li>
         <li><a href="customer">Cusomer List</a></li>
         <li><a href="transactions">Transactions</a></li>
         <li><a href="help">Contact Us</a></li>
         </ul>
      </nav>
    <a class="con" href="#" <button>Call: 04362 - 284436</button></a>
    </header>

  <div class="he">
    <p> WELCOME TO MMAA BANK </P>
    <p>   Choose Your Services </p>
    <a class="k" href="customer" <button> Customer List </button>
    <a class="k" href="transactions" <button> Transaction History </button>


</div>
</body>
</html>
